*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Common*/
body{
  font-size: clamp(2vw, 1.3rem, 4vw);
}

/*Card Related*/
.card{
  background-color: olive;
  border: 1px solid green;
}
